$primary-color:hsl(26, 100%, 55%) ;
$secondary-color:hsl(25, 100%, 94%);
$very_dark-blue:hsl(220, 13%, 13%) ;
$darkish-grey_blue:hsl(219, 9%, 45%);
$grey-blue:hsl(218, 17%, 88%) ;
$light-grey-blue:hsl(223, 64%, 98%) ;
$black-75:hsl(0, 0%, 0%) ;
